.header {
  background: #ffffff;
}

.headerImageWrapper {
  max-width: 750px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.Img {
  max-height: 15em;
  display: block;
}

.headerImage {
  height: 60px;
}

.main {
  max-width: 750px;
  margin: auto;
  padding: 32px 0;
  margin: 50px inherit;
  display: flex;
  justify-content: space-evenly;
}

